<!-- 火箭 -->
<span class="rocket-icon icon rocket--js"></span>

<p>© 2021-2021&emsp;<a href="/index.html">Jerry的學習筆記</a></p>
<ul class="footer-ul">
    <li>
        <a href="https://github.com/jerryBULL"><span class="fa fa-github"></span></a>
    </li>
</ul>
<img id="hits" src="" alt="hits"/>

<script>
    $(function(){
        if(IsLiveServer()){
            var src = "https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjerrybull.github.io&count_bg=%236B778D&title_bg=%23263859&icon=swagger.svg&icon_color=%23CFC5B0&title=hits&edge_flat=false";
        }else{
            //拿官網測試用的
            var src = "https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fgjbae1212%2Fhit-counter";
        }
        $("#hits").attr("src",src);

        $(".rocket--js").click(function () {
            $(".rocket--js").addClass("show");
            $('html,body').animate({ scrollTop: $(".header__nav").offset().top + $("body").scrollTop() }, 'slow' ,function(){
                $(".rocket--js").removeClass("show");
            });
        });

        window.addEventListener("scroll", function(){
            var body_scrolltop = $(window).scrollTop();
            if(body_scrolltop > $("header").height()){
                $(".rocket--js").fadeIn("slow");
            }else{
                $(".rocket--js").fadeOut("fast");
            }
        });
    })
</script>